.serif {
    font-family: "Times New Roman", Times, serif;
  }

h1{
    position: fixed;
    top: -20px;
    left: 0px;
    padding: 5px;
    margin: 0px;
    width: 100%;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px #ffffff;
}
h2{
    position: fixed;
    top: 60px;
    left: 0px;
    padding: 5px;
    margin: 0px;
    width: 100%;
    font-weight: bold;
    color: black;
}
h3{
    position: absolute;
    top: 190px;
    color: black;
    font-weight: bold;
}
h4{
    position: relative;
    top: 40px;
    color: black;
    font-weight: bold;
}
ul{
    list-style-image: url('duck.jpeg');
}
img{
    position: relative;
    top: -35px;
    float: right;
}
.navbar{
    background-color: #555;
    overflow: hidden;
    font-weight: bold;
    visibility: hidden;
}
  
.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
  
.navbar a:hover{
    background-color: lightgreen;
    color: blue;
}
  
.navbar a.active{
    background-color: #8531bd;
    color: white;
}

.contactInfo{
    position: relative;
    right: 50px;
    color: black;
    font-weight: bold;
}
.contactInfo a{
    text-decoration: none;
    color: #d1b0b0;
}
.contactInfo a:hover{
    text-decoration: none;
    color: blue;
    background-color: lightgreen;
}
.feedback{
    position: relative;
    right: 50px;
    color: black;
    font-weight: bold;
}
.favorite{
    position: relative;
    right: 50px;
    color: black;
    font-weight: bold;
}
.rating{
    position: relative;
    right: 50px;
    color: black;
    font-weight: bold;
}
.comment{
    position: relative;
    right: 50px;
    color: black;
    font-weight: bold;
}
.ratingradio{
    position: relative;
    right: 50px;
    color: black;
    font-weight: bold;
}
.Reset{
    position: relative;
    right: 50px;
    color: black;
    font-weight: bold;
}
.assignment{
    text-decoration: none;
}
.assignment a{
    text-decoration: none;
    color: #d1b0b0;
}
.assignment a:hover{
    text-decoration: none;
    color: blue;
    background-color: lightgreen;
}
.portfolio{
    text-decoration: none;
}
.portfolio a{
    text-decoration: none;
    color: #d1b0b0;
}
.portfolio a:hover{
    text-decoration: none;
    color: blue;
    background-color: lightgreen;
}