h1{
    position: fixed;
    top: -15px;
    left: 0px;
    padding: 5px;
    margin: 0px;
    width: 100%;
}
h2{
    position: fixed;
    top: 55px;
    left: 0px;
    padding: 5px;
    margin: 0px;
    width: 100%;
}