.serif {
    font-family: "Times New Roman", Times, serif;
  }

h1{
    position: fixed;
    top: -20px;
    left: 0px;
    padding: 5px;
    margin: 0px;
    width: 100%;
    color: black
}
h2{
    position: fixed;
    top: 60px;
    left: 0px;
    padding: 5px;
    margin: 0px;
    width: 100%;
    color: black
}
h3{
    position: absolute;
    top: 190px;
    color: black
}
h4{
    position: relative;
    top: 40px;
    color: black
}
img{
    position: relative;
    top: -35px;
    float: right;
}
.navbar{
    background-color: #555;
    overflow: hidden;
}
  
.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 12px;
}
  
.navbar a:hover{
    background-color: #ddd;
    color: black;
}
  
.navbar a.active{
    background-color: #8531bd;
    color: white;
}

.contactInfo{
    position: relative;
    right: 50px;
    color: black
}
.feedback{
    position: relative;
    right: 50px;
    color: black
}
.favorite{
    position: relative;
    right: 50px;
    color: black
}
.rating{
    position: relative;
    right: 50px;
    color: black
}
.comment{
    position: relative;
    right: 50px;
    color: black
}
.ratingradio{
    position: relative;
    right: 50px;
    color: black
}
.Reset{
    position: relative;
    right: 50px;
    color: black
}