.door1{
    top: 100px;
    left: 200px;
    width: 250px;
    height: 350px;
}

.door2{
    top: 100px;
    left: 300px;
    width: 250px;
    height: 350px;
}

.door3{
    top: 100px;
    left: 400px;
    width: 250px;
    height: 350px;
}

.continueButton{
    top: 100px;
}

.switchButton{
    top: 100px;
}

.stayButton{
    top: 100px;
}