.door1{
    top: 100px;
    left: 150px;
    width: 250px;
    height: 350px;
}

.door2{
    top: 100px;
    left: 150px;
    width: 250px;
    height: 350px;
}

.door3{
    top: 100px;
    left: 150px;
    width: 250px;
    height: 350px;
}